html,
body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	font: normal normal normal 14px/1.5 arial, tahoma, verdana, serif, sans-serif;
	color: #333;
	// background: url(../img/bg.jpg);
	background: #eee;
}
h1 {
	text-align: center;
	color: #000;
	font-size: 32px;
	margin-bottom: 20px;
}
a {
	color: blue;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.container {
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
}
.clearfix:after { 
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}

nav.top-nav {
	margin-bottom: 40px;
	.item {
		height: 50px;
		display: block;
		line-height: 50px;
		float: left;
		padding: 0 20px;
		background-color: #333;
		color: #eee;
		text-decoration: none;
		margin-right: 1px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: #f33;
			color: #fff;
		}
	}
}
.image {
	margin: 20px 0 40px;
	a,
	img {
		display: block;
		margin: 0 auto;
	}
	img {
		max-width: 100%;
	}
}

.content {
	margin-bottom: 40px;
	main {
		box-sizing: border-box;
		border: 1px solid #ddd;
		border-radius: 7px;
		padding: 20px;
		background-color: #fff;
		float: left;
		width: 65%;
	}
	aside {
		margin-left: calc(65% + 20px);
		.abox {
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 7px;	
			padding: 20px;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			a.heading {
				text-align: center;
				margin-bottom: 20px;
				font-size: 24px;
				font-weight: bold;
				color: #000;
				text-decoration: none;
			}
			a {
				display: block;
				margin-bottom: 10px;
			}
		}
	}
}

.comments {
	.heading {
		font-size: 24px;
		text-align: center;
		margin-bottom: 45px;
		span {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: -20px;
				left: 0;
				right: 0;
				height: 5px;
				background-color: #f77;
			}

		}
	}
	.item {
		margin-left: 20px;
		border-radius: 7px;
		border: 1px solid #ddd;
		padding: 20px;
		position: relative;
		margin-bottom: 40px;
		position: relative;
		min-height: 88px;
		box-sizing: border-box;
		background-color: #fff;
		&:last-child {
			margin-bottom: 0;
		}
		.thumb {
			position: absolute;
			width: 48px;
			height: 48px;
			left: 20px;
			top: 20px;
			a {
				display: block;
				width: inherit;
				height: inherit;
			}
		}
		>*:not(.thumb) {
			margin-left: 68px;
		}
		.date {
			font-size: 12px;
			color: darken(#ddd, 30%);
		}
		a.comment {
			font-size: 12px;
			font-weight: bold;
		}
		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 18px 20px 18px 0;
			border-color: transparent #ddd transparent transparent;
			left: -20px;
			top: 20px;
		}
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 18px 20px 18px 0;
			border-color: transparent #fff transparent transparent;
			left: -18px;
			top: 20px;
		}
	}
}

.copyright {
	text-align: center;
	margin: 40px 0;
	a {
		color: #333;
		text-decoration: none;
		font-size: 12px;
	}
}

@media all and(max-width: 1100px) {
	.content {
		main {
			margin-right: 0;
			float: none;
			width: auto;
		}
		aside {
			margin-top: 40px;
			margin-left: 0;
			width: auto;
		}
	}
}